#map{
    height: 100vh;
    width: 100%;
}
.cities-btn{
    margin-top: 20%;
}
.cities-div{
    text-align: center; 
    height: 150px; 
    margin: 30px!important;
    background-size: cover!important; /* or "contain" depending on what you want */
    background-position: center center!important;
    background-repeat: no-repeat!important;
}
.london{ background: url(/static/images/london.jpeg);  }
.amsterdam{ background: url(/static/images/amsterdam.jpeg);  }
.francisco{ background: url(/static/images/francisco.jpeg);  }
.sydney{ background: url(/static/images/sydney.png);  }
